{% extends "base.html"%}
{% block content %}

{% if request.user.is_authenticated %}

{% for message in messages %}
<div>
  <span class="gray">[{{message.created_at}}]</span>
  <span class="author">{{message.author.first_name}}:</span>
  <i>{{message.text}}</i>
</div>
{% endfor %}

<form action="/chat/" method="post">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" name="textmessage" type="text" id="sample3">
    <label class="mdl-textfield__label" for="sample3">Text...</label>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    send
  </button>
</form>


{% else %}
<div>
  <h1>You are not logged in!</h1>
  <p>You can login <a href="/login/">here</a>!</p>
</div>
{% endif %}

{% endblock%}