.page-content {
    padding: 100px 100px;
}
.gray {
    color: gray;
}
.author {
    padding: 12px;
    color: lightgray;
}
.red-formvalidation-text{
    color: red;
    font-size: 12px;
    font-weight: bold;
}



/*  CHAT  */ 